*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
ckpt/
log/
tb*/
img*/
local_output*
sample_*
*.pth
*.pth.tar
*.ckpt
*.log
*.ipynb
*huggingface*
*.locks*
*pretrained*
eval*
ten_scale/
baseline/
.vscode/
checkpoint/
submit*.sh
checkpoints/
debug_*.sh
./test_image/
